.App {
  text-align: center;
}
#all {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 169px;
  
  
}
 #root {
  background-image: url("../pics/leaf.png");
  background-repeat: repeat;
 }

@media screen and (min-width: 400px) {
  #all {
      flex-direction: column-reverse;
  }
}
 
@media screen and (min-width: 767px) {
  #all {
      flex-direction: row;
  }
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #aside {
  width: 400px;
  height: 500px;
 
} */

#content {
  background-color: lightgray;
  padding: 3% 8%;
  opacity: 0.9;
}