.App {
  text-align: center;
}
a:link {
  text-decoration: none;
}

#all {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -1%;
  
  
}




@media screen and (max-width: 1024px) {
  #all {
    flex-direction: column-reverse;
  }
  #root {
    background-image: url('../pics/linen.png');
    background-repeat: no-repeat;
    background-position-y: -5%;
   }
  
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .pagefooter {
    display: none;
  }
  .full {
    display: none;
  }
  .mobilePhoneHeading {
    background-color: #82ad40;
    margin-top: 0%;
    padding-top: 5%;
  }
}

@media screen and (min-width: 1025px) {
  #all {
    flex-direction: row;
  }
  .mobilePhoneHeading {
    display: none;
  }
  .mobile {
    display: none;
  }
  #content {
    animation-duration: 2s;
    animation-name: slidein_right;
  }
  
  @keyframes slidein_right {
    from {
      margin-right: -100%;
      width: 200%; 
    }
    
    to {
      margin-right: 0%;
      width: 100%;
    }
  }
  #root {
   background-image: url('../pics/test2.jpg');
   background-repeat: no-repeat;
   background-position-y: -5%;
  }
}


#content {
  background-color: rgba(218, 215, 215, 0.8 );
  padding: 3% 8%;
  
}

.contentheading  {
  font-weight: bold;
  font-size: 2em;
  border: none;
  text-align: left;
}
.btn-primary {
  background: #82ad40;
  color: white;
  border: none;
}

/* @media screen and (max-width: 411px) {
  #all {
    flex-direction: column-reverse;
  }
  #root {
    background-image: url('../pics/background2.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
  }
  
  
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
    
  }
  .pagefooter {
    display: none;
  }
  .full {
    display: none;
  }
  .mobilePhoneHeading {
    background-color: #82ad40;
    margin-top: 0%;
    padding-top: 5%;
  }
} */