.App {
  text-align: center;
}
a:link {
  text-decoration: none;
}

#all {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -1%;
  
  
}

 #root {
  background-image: url("../pics/test2.jpg");
  background-repeat: no-repeat;
  background-position-y: -5%;
 }

@media screen and (max-width: 960px) {
  #all {
      flex-direction: column-reverse;
      /* margin-top: 55%; */

  }
  #root {
    background-image: url('');
  }
}
 
@media screen and (min-width: 961px) {
  #all {
      flex-direction: row;
  }
}


#content {
  background-color: lightgray;
  padding: 3% 8%;
  opacity: 0.8;
}

#content {
  animation-duration: 2s;
  animation-name: slidein_right;
}

@keyframes slidein_right {
  from {
    margin-right: -100%;
    width: 200%; 
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}
.contentheading  {
  font-weight: bold;
  font-size: 2em;
  border: none;
  text-align: left;
}
.btn-primary {
  background: #82ad40;
  color: white;
  border: none;
}