.pagefooter {
  background-color: #82ad40;
  color: black;
  opacity: 1;

}
.pagefooter p {
  margin-bottom: 0%;
}

.pagefooter p:first-child {
  font-size: 3em;
  padding-top: 1%;
  padding-bottom: 0;
  margin-top: 0;
}
.pagefooter p:last-child {
  margin-top: 0.3%;
  font-size: 1.7em;
  padding-bottom: 1%;
}


