#phonenumber {
  width: 25%;
  justify-content: center;
  border-radius: 10px;
  padding: 0px 15px;
  margin-left: 5%;
  color: lightgrey;
}

a {
  font-size: 1.5rem;
  color: #82ad40;
}

.nav-item a {
  padding: 5px 25px;
  
}
.nav-item a:hover {
 color: white;
}

#logo h1 {
  color: #82ad40;
  font-size: 4em;
}
#logo h5 {
  color: lightgray;
  font-size: 0.9em;
 }

#logo {
  padding-left: 0%;
}

.navbar-light .navbar-toggler-icon {
 background-image: url("https://png.icons8.com/material/40/82ad40/menu.png");

}
button:focus {
  outline: none;
}



@media screen and (min-width: 1025px) {
  #fixednavbar {
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border-bottom: #82ad40 solid 10px;
  }
}
#phone {
  font-size: 2.5em;
}

@media screen and (max-width: 1024px) {
  #fixednavbar {
    /* margin-bottom: 10px; */
    background-color: black;
    color: white;
    border-bottom: #82ad40 solid 10px;
  }
  #logo h1 {
    color: #82ad40;
    font-size: 3.5em;
  }
  #logo h5 {
    font-size: 0.8em;
  }

 }