.review {
  max-height: 500px;
  padding:  0px 0px;
  /* border: solid 2px #82ad40; */
  overflow-y: scroll;
}
.review p {
  margin-top: 10px;
  padding: 25px;
  font-size: 1 rem;
  border: solid black 1px;
  font-style: italic;
  text-align: left;

}

.reviewer {
  font-size: 1.2 rem;
  font-weight: bold;
  color: #82ad40;
  float: right;
}