.services .row {
  margin-top: 5%;
}

.services h2 {
  color: black;
  font-size: 2em;
}
.services h5 {
  font-size: 1.5em;
  word-break: normal;
  /* word-wrap: break-word; */
  text-align: left;
  
  
}
.services p:nth-child(2) {
  text-align: left;
  font-size: 1.5em;
}