.contact {
  /* background-color: rgb(218, 213, 213); */
  text-align: center;
  min-width: 340px;
}

.row div {
  text-align: center;
}

#aside {
  text-align: center;
}
.contactheading {
  padding-top: 40px;
}

/* .contactheading div:last-child {
  background-color: #82ad40;
  padding: 5px 5px;
  border-radius: 5px;
} */