.contact {
  /* background-color: rgb(218, 213, 213); */
  text-align: center;
  min-width: 340px;
 
  background: black;
  color: white;
}

.row div {
  text-align: center;
}

#aside {
  text-align: center;
}
.contactheading {
  padding-top: 40px;
}

.callme {
  margin-top: 10%;
}