#phonenumber {
  display: flex;
  width: 50%;
  font-size: 2rem;
  justify-content: center;
  align-content: center;
}
#phonenumber p {
 font-size: 1 em;
}
a {
  font-size: 1.5rem;
}

.nav-item a {
  padding: 5px 5px;
}

#logo h1 {
  color: #82ad40;
  font-size: 4em;
  font-weight: bold;
}
#logo h5 {
  color: #82ad40;
  font-size: 1.2em;
  font-weight: bold;
}

#logo {
  padding-left: 15%;
}




#fixednavbar {
  margin-bottom: 10px;
  background-color: black;
  color: white;
  border-bottom: #82ad40 solid 10px;
}
.phone {
  border: solid black 1px;
  border-radius: 10px;
  padding: 5px 5px;
  font-size: 2 rem;
  font-weight: bolder;
}

